body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
  }

.tablero {
  background: beige;
  width: 24rem;
  display: flex;
  flex-direction: column;
}

.linea {
  width: 24rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  
}

.linea:first-child {
  border-bottom: 5px solid black;
}

.linea:last-child {
  border-top: 5px solid black;
}


.position {
  height: 8rem;
  width: 8rem;
  align-items: center;
  align-content: center;
  cursor: pointer;
  
}

.position:first-child {
  border-right: 5px solid black;
}

.position:last-child {
  border-left: 5px solid black;
}

.position.circle {
  background-image: url('Laboratorio2Assets/O.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.position.cross {
  background-image: url('Laboratorio2Assets/X.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.turno {
  
}

.turno .position.cross{
  display: inline-block;
  border: 0px;
  height: 1rem;
  width: 1rem;
  margin: 0px;
  background-size: 1rem;
}

.turno .position.circle{
  display: inline-block;
  border: 0px;
  height: 1rem;
  width: 1rem;
  margin: 0px;
  background-size: 1rem;
}

